extends ./bases/base.jade

block content
  section(ng-view)  
  script(src="/public/core/bower_components/angular/angular.js")
  script(src="/public/core/bower_components/angular-route/angular-route.js")
  script(src="/public/core/bower_components/angular-resource/angular-resource.js")

  script(src="public/organizations/module.js")
  script(src="public/organizations/controllers/organizations.js")
  script(src="public/organizations/services/organizations.js")
  script(src="public/organizations/config/organizations.js")

  script(src="/public/core/module.js")
  script(src="/public/core/controllers/index.js")
  script(src="/public/core/config.js")
  script(src="/public/core/services/authentication.js")

  //- Bootstrap angular application
  script(src="/public/core/application.js")
