extends ./bases/base.jade

block content
  if (name)
    h2= "Hello " + name.first
    a(href="/signout") Sign out
  else
    h2#hello Hello World
    p
      a(href='/signup') Sign up
    p
      a(href='/signin') Sign in
    
    section(ng-include="'/public/core/views/core.public.views.index.html'")

  script(type="text/javascript", src="/public/core/bower_components/angular/angular.js")
  script(type="text/javascript", src="/public/core/module.js")
  script(type="text/javascript", src="/public/core/application.js")
