# .gitkeep files are used to maintain directories.
!.gitkeep

# Ignore node module directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore test output directory
/test/e2e/output/*
!/test/e2e/output/.gitkeep

# Ignore built instances
/instances/*
!/instances/.gitkeep

# Ignore secrets
/secrets/*
!/secrets/.gitkeep