section(data-ng-controller="OrganizationsController")
  h1 New OrganizationsController
  form(data-ng-submit="create()", novalidate)
    div
      label(for="name") Name
      div
        input#name(type=text, data-ng-model="name", placeholder="Name", required)
      label(for="email") Email
      div
        input#name(type=text, data-ng-model="email", placeholder="Email", required)
      div
        input(type="submit")
      div(data-ng-show="error")
        strong(data-ng-bind="error")
